@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

body{
    background-color: rgb(97, 100, 98);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'REM', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 60px;
    /* padding: 0 4px; */
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    /* color: white; */
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('background.webp');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons{
    margin-top: 12px;
    cursor: pointer;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 60px;
}

.songItem{
    height: 45px;
    display: flex;
    background-color: white;
    width: 120%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 15px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 10px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    display: flex;
    position: absolute;
    left: 9vw;
    margin-top: 16px;
    font-family: 'Varela Round', sans-serif;
}

.songInfo p{
    margin: 15px 0;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
